/* Write your CSS here */
.main_container {
  background-color: #ffc2a0;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.card_container {
  background-color: #ffffff;
  border-radius: 8px;
  height: 80vh;
  width: 40vw;
  align-items: center;
}
.main_heading {
  margin-top: 10px;
  font-size: 30px;
  font-weight: 700;
  font-family: 'roboto';
  text-align: center;
  color: #ff8542;
}
.todo_container {
  list-style-type: none;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .card_container {
    height: 90vh;
    width: 85vw;
  }
}
